/* Styling for the experience section */
.experience {
    background-color: #1e1e1e;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the job boxes */
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    border-radius: 13px;
}

/* Section title */
.experience h2 {
    font-size: 2.2rem;
    color: white;
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 600;
    text-transform: capitalize;
}

/* Job card styling */
.job {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    margin-bottom: 2.5rem;
    text-align: left; /* Text aligned to the left */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 80%;
    max-width: 800px; /* Limit the max width */
}

/* Job card hover effect */
.job:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Job title */
.job h3 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    margin-top: 0;
    color: black;
    font-weight: 500;
    text-align: left; /* Keep title aligned to the left */
}

/* FairCode logo styling */
.logo {
    width: 100px;
    height: auto;
    margin: 1rem 0;
    display: block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Logo hover effect */
.logo:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

/* Job list */
.job ul {
    list-style-type: disc;
    padding-left: 1.5rem; /* Adds space between bullet points and text */
    color: black;
    margin-top: 0.5rem;
}

.job ul li {
    margin-bottom: 0.75rem;
    line-height: 1.6;
}

/* Paragraph within each job */
.job p {
    font-size: 0.9rem;
    color: black;
    margin-top: 1rem;
    line-height: 1.6;
    text-align: left; /* Keep text aligned to the left */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .experience h2 {
        font-size: 1.75rem;
    }

    .job {
        padding: 1.5rem;
        width: 90%; /* Increase width on smaller screens */
        transition: none; /* Disable transition on mobile */
    }

    /* Remove hover effects on mobile */
    .job:hover {
        transform: none;
        box-shadow: none;
    }

    .logo {
        width: 80px;
        transition: none; /* Disable transition on mobile */
    }

    .logo:hover {
        transform: none;
        box-shadow: none;
    }
}
