/* /components/Honors.module.css */
.honors {
    background-color: #1e1e1e;
    padding: 4rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Subtle shadow for depth */
    margin-top: 20px;
    border-radius: 13px;
}

/* Section title with subtle styling */
.honors h2 {
    font-size: 2.2rem;
    color: white;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

/* Honors text styling */
.honors p {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .honors h2 {
        font-size: 2rem;
    }
    
    .honors p {
        font-size: 1.2rem;
    }
}
